CarBrandClientSide/CarBrandClientSide/Connected Services/CarBrandServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8085/WCFService/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceProject" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarBrands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCarBrandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceProject" minOccurs="0" name="GetCarBrandsResult" nillable="true" type="q1:ArrayOfCarBrand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>